# Python virtual environment
/venv
venv/
verilog_face_detector/venv/
*.pyc
__pycache__/
.env

# Simulation outputs
/verilog_face_detector/sim/waveform.vcd
/verilog_face_detector/sim/run_sim
/verilog_face_detector/sim/*.log
/verilog_face_detector/sim/image.txt
/waveform.vcd
waveform.vcd
*.vcd

# VPI compiled modules
/verilog_face_detector/vpi/*.vpi
/verilog_face_detector/vpi/*.o
/verilog_face_detector/vpi/*.vpi.o
/verilog_face_detector/verilog_python_interface.o

# Log files
*.log
/tmp/*.log

# Large model files
/verilog_face_detector/models/*.h5
/verilog_face_detector/models/*.hdf5

# Generated Images and Data
verilog_face_detector/sim/prepared_images/*.txt
verilog_face_detector/static/uploads/*
!verilog_face_detector/static/uploads/.gitkeep
verilog_face_detector/data/*.coe
verilog_face_detector/data/*.mem

# System
.DS_Store
